{{ define "footer"}}
        </div> <!-- end of inner-content -->
    </div><!-- end of content -->

    <footer id="footer-wrapper" class="outer-section">
        <div id="inner-footer" class="inner-section">
        	<div id="footer-copyright">
            	<p>&copy;{{ .Year }} Lambros Petrou</p>
        	</div>
            <div id="footer-links">
            	<p><a href="https://www.lambrospetrou.com" title="Lambros Petrou homepage">www.lambrospetrou.com</a></p>
            </div>
		</div>
    </footer>

</div><!-- end of outer-wrapper -->
{{end}}