{{ define "footer"}}
        </div> <!-- end of inner-content -->
    </div><!-- end of content -->

    <footer id="footer-wrapper" class="outer-section">
        <div id="inner-footer" class="inner-section clearfix">
        	<div id="footer-copyright">
            	<p>&copy;{{ .Year }} Lambros Petrou</p>
        	</div>
            <div id="footer-links">
            	<p><a href="https://www.lambrospetrou.com" title="Lambros Petrou homepage">www.lambrospetrou.com</a></p>
            </div>
		</div>
    </footer>

</div><!-- end of outer-wrapper -->


<!-- CSS Stylesheets -->
<link href="/s/css/style.min.css" rel="stylesheet" type="text/css">

<!-- Google Web Fonts -->
<!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700&subset=latin,greek' rel='stylesheet' type='text/css'>-->
<!--<link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic&subset=latin,greek' rel='stylesheet' type='text/css'>-->
<!--<link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>-->
<!--<link href='https://fonts.googleapis.com/css?family=Cardo:400,400italic,700' rel='stylesheet' type='text/css'>-->
<!--<link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700' rel='stylesheet' type='text/css'>-->

<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--[if IE]>
<link href="http://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Droid+Serif:400italic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Droid+Serif:700" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Droid+Serif:700italic" rel="stylesheet" type="text/css">
<![endif]-->

</body>
</html>
{{end}}
