{{ define "footer"}}
        </div> <!-- end of inner-content -->
    </div><!-- end of content -->
    
    <!--
    <footer id="footer-wrapper" class="outer-section">
        <div id="inner-footer" class="inner-section clearfix">
        	<div id="footer-copyright">
            	<p>&copy; {{ .Year }} Lambros Petrou</p>
        	</div>
            <div id="footer-links">
                <p><a href="https://lambrospetrou.com" title="Lambros Petrou homepage">lambrospetrou.com</a></p>
            </div>
		</div>
    </footer>
    -->
</div><!-- end of outer-wrapper -->


<!-- Google Web Fonts -->

<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin,greek' rel='stylesheet' type='text/css'>

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic&subset=latin,greek' rel='stylesheet' type='text/css'>
<!--[if IE]>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400&subset=latin,greek" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic&subset=latin,greek" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:700&subset=latin,greek" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:700italic&subset=latin,greek" rel="stylesheet" type="text/css">
<![endif]-->

<link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400' rel='stylesheet' type='text/css'>

<!-- Use the Web Font Loader -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.10/webfont.js"></script>-->
<!--
<script>
    //WebFont.load({});
    var WebFontConfig = {
        google: {
            families: [
                'Roboto Slab:700:greek,latin', 
                'Source Code Pro:400',
                'Open Sans:400,400italic,700,700italic:greek,latin', 
                //'Ubuntu:400,400italic,700,700italic:greek,latin',
            ]
        }
    };

    (function(d) {
      var wf = d.createElement('script'), s = d.scripts[0];
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
      s.parentNode.insertBefore(wf, s);
   })(document);
</script>
-->

</body>
</html>
{{end}}
