{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>LP - {{.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is my personal blog where I publish tutorials, guides, thoughts and anything else that comes to my mind."/>
    <meta name="keywords" content="Lambros,Petrou,lambrospower,LPSofts,portfolio,programming,developer,showcase,mastergenius" />
    <meta name="author" content="Lambros Petrou" />
    <meta name="owner" content="Lambros Petrou" />
    <meta name="copyright" content="&copy;2014 Lambros Petrou" />
    <meta name="robots" content="all" />

    <!-- Google Web Fonts -->
    <!--<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic&subset=latin,greek' rel='stylesheet' type='text/css'>-->
    <!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700&subset=latin,greek' rel='stylesheet' type='text/css'>-->
    <!--<link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic&subset=latin,greek' rel='stylesheet' type='text/css'>-->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <!-- CSS Stylesheets -->
    <link href="/blog/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

<div id="outer-wrapper">
    <header id="header-wrapper" class="outer-section">
        <div id="inner-header" class="inner-section">
            <div id="header-logo"><a href="/blog/" title="Aries Ram - Click to vew all posts">&#9800;</a></div>
            <h1>Lambros Petrou <a class="text-link-cv" href="https://lambrospetrou.com/static_data/cv_eng.pdf" target="_blank" title="Lambros Petrou Resume - CV">CV</a></h1>
            <span id="header-quote">"We are what we repeatedly do. Excellence then, is not an act, but a habit!" &nbsp;&mdash; Aristotle</span>
        </div>
    </header>

    <div id="content-wrapper" class="outer-section">
        <div id="inner-content" class="inner-section">

{{end}}
