* {
	padding: 0;
	margin: 0;
}


body{
	font-family: 'Lato', 'Roboto', 'Open Sans', sans-serif;
	font-size: 16px;
	color: #282828;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background-color: #ffffff;
}

#outer-wrapper{
	width: 100%;
	padding: 0;
	margin: 0;
}

.outer-section{
	padding: 0;
	margin: 0;
	width: 100%;
}

.inner-section{
	padding: 10px 0px 20px 0px;
	margin: 0;
        width: 90%;
	max-width: 700px;
	margin: 0 auto;
}

a, a:link, a:active {
	text-decoration: none;
	color: #920000;
	opacity: 0.8;
	border: 0;
}

a:hover{
	padding-bottom: 2px;
	border-bottom: 1px dotted #920000;
	opacity: 1;
}

h1{
	font-size: 28px;
	margin-top: 15px;
	margin-bottom: 10px;
}

h2{
	font-size: 24px;
	margin-top: 15px;
	margin-bottom: 10px;
	border-bottom: 2px solid #920000;
}

h3{
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 5px;
}

h4{
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 5px;
}

h5{
	font-size: 16px;	
}

p{
	margin-top: 15px;
        word-wrap: break-word;
        overflow-wrap: break-word;
}


ul, ol{
	list-style-position: outside;
	margin-left: 30px;
}

ul ol, ul ul, ol ul, ol ol{
	padding-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

ol li, ul li {
	padding-left: 10px;
	margin-bottom: 5px;
}

ul{
	list-style-type: square;
}

ul ul{
	list-style-type: disc;
}

ul ul{
	list-style-type: circle;
}

ol{
	list-style-type: decimal-leading-zero;
}

ol ol{
	list-style-type: lower-roman;
}

ol ol ol{
	list-style-type: lower-greek;
}

pre{
       overflow-x: auto;
}

code{
        overflow: auto;
        white-space: pre;
        word-wrap: normal;
        overflow-wrap: normal;
	margin: 10px 0;
	display: block;
	padding: 10px;
	padding-left: 20px;
	background-color: #fafafa;
	border: 1px dotted #920000;
	border-left: 10px double #920000;
	font-size: 12px;
	font-family: Consolas, 'Courrier New', monospace;
}

input, textarea {
	width: 100%;
	padding: 5px;
	margin-bottom: 5px;
	font-family: Lato, Roboto, 'Open Sans', Arial;
	outline: none;
	border: 1px solid #afafaf;
}

input:focus, textarea:focus,
input:active, textarea:active{
	border: 1px solid #920000;
}

input[type="button"], input[type="submit"], button{
	width: auto;
	padding: 10px 15px;
	border: 0;
	background-color: #920000;
	opacity: 0.7;
	color: #ffffff;
	font-weight: bold;
}

input[type="button"]:hover, input[type="submit"]:hover, button:hover{
	opacity: 1;
	cursor: pointer;
}

/******************************
 * HEADER
 */
#header-wrapper{
	min-height: 60px;
}

#inner-header{
	border-bottom: dotted 1px #bfbfbf;
	text-align: center;
}
	#inner-header h1{
		font-variant: small-caps;
		font-weight: bolder;

	}

	a.text-link-cv{
		padding: 3px;
		border: 1px dashed;
		border-radius: 2px 15px;
		color: #920000;
	}
		a.text-link-cv:hover{
			border: 1px solid;
		}

	#header-logo{
		font-size: 75px;
		display: block;
		line-height: 1;
		padding-top: 10px;
	}
		#header-logo a{
			color: #282828;
			opacity: 1;
		}
		#header-logo a:hover{
			color: #920000;
			border-bottom: 3px solid #920000;
		}

	#header-quote{
		font-style: italic;
		font-family: 'Times New Roman', Lato, serif;
		color: #686868;
	}

/******************************
 * FOOTER
 */
#footer-wrapper{
	/*background: url("/static/images/bg_black.jpg") repeat;*/
	min-height: 60px;
	font-size: 13px;
	color: #686868;
}

#inner-footer{
	border-top: dashed 1px #bfbfbf;
}
	#inner-footer p{
		margin-top: 5px;
	}

#footer-links{
	float: right;
}

#footer-copyright{
	float: left;
}


/******************************
 * MAIN CONTENT - SINGLE POST VIEW
 */

#inner-content header{
	margin-bottom: 20px;
}

.post-meta-top{
	font-style: italic;
}

.post-meta-bottom{
	text-align: right;
}

.post-title{
	color: #920000;
}


/******************************
 * MAIN CONTENT - INDEX PAGE
 */
.index-posts{
	list-style-type: none;
	margin-left: 0;
}
	.index-posts h2{
		border: 0;
		margin-bottom: 5px;
	}

.index-post-title{
	color: #920000;
	font-weight: bolder;
	font-variant: small-caps;
}

.index-post-meta{
	font-style: italic;
	font-weight: bold;
	font-size: 16px;
	color: #686868;
	text-align: justify;
	margin: 0;
	padding: 0;
}
