{{template "header" .Header}}

<ul class="index-posts">
    {{range $index, $element := .Posts}}
    <li>
        <article>
            <header>
                <h2 class="index-post-title"><a href="/articles/{{$element.UrlPermalink}}/" title="view post">{{ $element.Title }}</a></h2>
                <h3 class="index-post-meta">{{ $element.FormattedCreatedTime }}</h3>
            </header>
            <section class="index-post-meta-bottom">
            </section>
        </article>
    {{ end }}
    </li>
</ul>

{{template "footer" .Footer}}
