{{template "header" .Header}}

<article>
    <header>
        <h1 class="post-title">{{ .Post.Title }}</h1>
        <small class="post-meta-top">{{ .Post.FormattedCreatedTime }}</small>
    </header>    
    <section class="post-body">
    	{{ .Post.BodyHtml }}
    </section>

    <section class="post-meta-bottom">
        <small class="post-meta-top">last updated: {{.Post.FormattedEditedTime}}</small>
        <p>
    	   <!--<a href="/edit/{{.Post.Id}}" title="edit post">edit post</a>-->
        </p>
    </section>
</article>

{{template "footer" .Footer}}
